<!DOCTYPE html>
<html ng-app="iCorpMM">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <title>iCorpMM</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="dist/style.css" />
        <link rel="stylesheet" href="dist/css/sidebar.css"/>
    </head>

    <body ng-cloak>
        <div class="spinner">
            <div class="ajaxloader"></div>
        </div>
        <div id="wrapper" ng-cloak >
            <div class="col-xs-10 col-sm-6 col-md-4 sidebar sidebar-left sidebar-animate" ng-include="'includes/nav.html'"></div>
            <div id="page-content-wrapper">
                <div ng-include="'includes/header.html'"></div>
                <div class="container-fluid" ng-controller="confirmTimingsController">
                    <h4 class="text-capitalize text-right">Welcome  <span class=" text-success">{{ user}}!</span></h4>
                    <h1>{{ proposal.title}}</h1>
                    <p class="">{{proposal.purpose}}</p>
                    <div class="row">
                        <div class="col-md-12 mt10">
                            <div class="col-md-6">
                                <div class="text-info col-md-3">Start Time</div>
                                <div>{{ proposal.start_date | convertToDate | date:'dd, MMMM yyyy'}}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-info col-md-3">End Time</div>
                                <div>{{ proposal.end_date | convertToDate | date:'dd, MMMM yyyy'}}</div>
                            </div>
                        </div>
                        <div class="col-md-12 mt10 mb10">
                            <div class="col-md-6">
                                <div class="text-info col-md-3">Venue</div>
                                <div>{{ proposal.venue.venue_name}}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-info col-md-3">Venue Address</div>
                                <div>{{ proposal.venue.address}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">


                        <div class="table-responsive col-md-12"> 
                            <h3 class="text-primary">Schedule</h3>
                            <table class="table table-striped">
                                <tr>
                                    <th>Date</th>
                                    <th>Select Time</th>
                                    <th>Action</th>
                                </tr>
                                <tr ng-repeat="date in proposal.dates">
                                    <td>{{ date.date | convertToDate | date:'dd, MMMM yyyy'   }}</td>
                                    <td ng-show="!date.confirmation"><select ng-model="time" ng-init="time = 'fullday'" class="form-control input-sm"><option value="fullday">Full Day</option><option value="09:00">09:00 AM</option><option value="11:00">11:00 AM</option><option value="14:00">02:00 PM</option><option value="16:00">04:00 PM</option></select></td>
                                    <td ng-show="date.confirmation"><span class="label label-success" ng-show="date.confirmation.pivot.status == 1">{{ date.confirmation.pivot.proposal_time | uppercase }}</span><span class="label label-danger" ng-show="date.confirmation.pivot.status == 0">N/A</span></td>
                                    <td ng-show="!date.confirmation"><a href="#" ng-click="confirm($event, date.id, 1, time)" class="btn btn-xs btn-success confirm"><i class="fa fa-check"></i> Confirm</a> <a href="#" ng-click="confirm($event, date.id, 0, time)" class="btn btn-xs btn-danger unconfirm"><i class="fa fa-ban"></i> Unavailable</a></td>
                                    <td ng-show="date.confirmation"><span class="text-success" ng-show="date.confirmation.pivot.status == 1"><i class="fa fa-check"></i> Available</span><span class="text-danger" ng-show="date.confirmation.pivot.status == 0"><i class="fa fa-ban"></i> UnAvailable</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="phonegap.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src='js/angular-sanitize.min.js'></script>
        <script src="dist/js/sidebar.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/ng-app.js"></script>      
        <script src="js/myscripts.js"></script>      
    </body>
</html>