<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.iCorpMM.iCorpMM" version="1.0.0">
    <name>iCorpMM</name>
    <description>Meeting Schedular for high designated Corporates.</description>
    <author href="http://5u5hil.wordpress.com" email="sushil.sud@gmail.com">Sushil Sudhakaran</author>
    <preference name="phonegap-version" value="cli-5.1.1" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="permissions" value="none"/>
    <preference name="webviewbounce" value="true" />
    
    <gap:platform name="ios" />
    
    <icon src="icon.png" />
    <gap:splash src="splash.png" />
    <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
    <gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" />

</widget>