<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.bluesystech.iCorpMM" version="2.0.1" ios-CFBundleVersion="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>iCorpMM</name>
    <description>Meeting Schedular for high designated Corporates.</description>
    <author href="http://bluesys.in" email="jmayuri86@gmail.com">Mayuri Dekhane</author>
    <content src="index.html"></content>
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <access origin="*.pushwoosh.com"/> <!-- allow pushwoosh service -->

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <preference name="orientation" value="default"/>
    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="SplashScreenDelay" value="3000"/>
    <preference name="FadeSplashScreenDuration" value="3000"/>
    <preference name="BackupWebStorage" value="none"/>
    <preference name="SplashScreen" value="screen"/>
    <preference name="AutoHideSplashScreen" value="true"/>
    <preference name="ShowSplashScreenSpinner" value="false"/>
    <preference name="iosPersistentFileLocation" value="Library" />
    <preference name="ErrorUrl" value="error.html"/>

    
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar"/>
    </feature>
    
    <plugin name="cordova-plugin-battery-status" />
    <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-plugin-media-capture" />
    <plugin name="cordova-plugin-console" />
    <plugin name="cordova-plugin-contacts" />
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-device-motion" />
    <plugin name="cordova-plugin-device-orientation" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-file-transfer" />
    <plugin name="cordova-plugin-geolocation" />
    <plugin name="cordova-plugin-globalization" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-media" />
    <plugin name="cordova-plugin-network-information" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-vibration" />

   <!-- 
    <plugin name="cordova-plugin-device" spec="~1.1.2"/>
    <plugin name="cordova-plugin-console" spec="~1.0.3"/>
    <plugin name="cordova-plugin-whitelist" spec="~1.2.2"/>
    <plugin name="cordova-plugin-splashscreen" spec="~3.2.2"/>
    <plugin name="cordova-plugin-statusbar" spec="~2.1.3"/>
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1"/>
    <plugin name="cordova-plugin-inappbrowser"/>
    <plugin name="cordova-plugin-x-socialsharing"/>
    <plugin name="cordova-plugin-x-toast"/>
    <plugin name="onesignal-cordova-plugin"/>
    <plugin name="cordova-plugin-3dtouch" />
    <plugin name="cordova-plugin-statusbar-hide-on-startup"  source="npm" spec="0.1.7" />
    <plugin name="cordova-plugin-calendar"/>  
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-file-transfer"/>
    
    -->
  <icon src="icon.png" />
  <splash src="splash.png" />
  <platform name="ios">
    <icon src="icon-small.png" width="29" height="29" />
    <icon src="icon-small@2x.png" platform="ios" width="58" height="58" />
    <!-- <icon src="res/icon/ios/icon@2x.png" width="114" height="114" /> -->
    <icon src="icon-72.png" width="72" height="72" />
    <icon src="res/icon/ios/icon-72@2x.png" width="144" height="144" />
    
    <icon src="icon-76.png" width="76" height="76" />
    <icon src="icon-76@2x.png" width="152" height="152" />
    <icon src="icon-83.5@2x.png" platform="ios" width="167" height="167" />
    
    <icon src="icon-40.png" platform="ios" width="40" height="40" />
    <icon src="icon-40@2x.png" platform="ios" width="80" height="80" />
    
    <icon src="icon-50.png" platform="ios" width="50" height="50" />
    <icon src="icon-50@2x.png" platform="ios" width="100" height="100" />
    
    <splash src="splash/ios/Default.png" platform="ios" width="320" height="480" />
    <splash src="splash/ios/Default@2x.png" platform="ios" width="640" height="960" />
    
     <!-- iPad -->
    <splash src="splash/ios/Default-Portrait.png" platform="ios" width="768" height="1024" />
    <splash src="splash/ios/Default-Landscape.png" platform="ios" width="1024" height="768" />

    <!-- Retina iPad -->
    <splash src="splash/ios/Default-Portrait@2x.png" platform="ios" width="1536" height="2048" />
    <splash src="splash/ios/Default-Landscape@2x.png" platform="ios" width="2048" height="1536" />
    
  </platform>
</widget>