<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="in.iCorpMM.iCorpMM" version="1.0.0">
    <name>iCorpMM</name>
    <description>Meeting Schedular for high designated Corporates.</description>
    <author href="http://bluesys.in" email="jmayyuri86@gmail.com">Mayuri Dekhane</author>
    <preference name="phonegap-version" value="cli-5.1.1" />
    <preference name="fullscreen" value="false" />
    <preference name="permissions" value="none"/>
    <preference name="webviewbounce" value="true" />
    
    <gap:platform name="ios" />
    
    <icon src="icon.png" />
    <gap:splash src="splash.png" />
    <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
    <gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" version="1.2.0" />
    <gap:plugin name="com.pushwoosh.plugins.pushwoosh" version="3.4.2" />
    <gap:plugin name="nl.x-services.plugins.calendar" version="4.2.4" />  
    <gap:plugin name="org.apache.cordova.file" version="1.3.1" />
    <gap:plugin name="org.apache.cordova.file-transfer" version="0.4.6" />
  

    <access origin="*"/> <!-- allow all pages, use for development -->
    <access origin="*.pushwoosh.com"/> <!-- allow pushwoosh service -->
</widget>