<!DOCTYPE html>
<html ng-app="iCorpMM">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <title>iCorpMM</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="dist/style.css" />
        <link rel="stylesheet" href="dist/css/sidebar.css"/>
    </head>

    <body>
        <div class="spinner">
            <div class="ajaxloader"></div>
        </div>
        <div id="wrapper" ng-cloak >
            <div class="col-xs-10 col-sm-6 col-md-4 sidebar sidebar-left sidebar-animate" ng-include="'includes/nav.html'"></div>
            <div id="page-content-wrapper">
                <div ng-include="'includes/header.html'"></div>
                <div class="container-fluid" ng-controller="joinMeetingController">
                     <div class="maintitle"><a href="meetings.html"><img src="images/meetings-b.png"></a> <h4 class="text-inside text-right">Welcome  <span class=" text-success">{{ user}}!</span></h4></div>
                    <h1>{{ meeting.title }} <span ng-if="meeting.status == 'inprogress'">(In Progress)</span></h1>
                    <div>{{ meeting.datetime_ofmeeting}}</div>
                  <!--  <p class="">{{meeting.purpose}}</p>-->
                    

                    <div class="row mt10">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#desc" data-toggle="tab">Notice</a></li>
                            <li><a href="#ben" data-toggle="tab">Invited Members</a></li>
                            <li><a href="#res" data-toggle="tab">Agendas</a></li>
                            <li ng-if="meeting.status == 'Scheduled' && director != 1"><a href="#blist" data-toggle="tab">Bucket List</a></li>
                        </ul>

                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="desc" ng-bind-html="meeting.notice.body | unsafe">

                            </div>
                            <div class="tab-pane fade in " id="ben" >
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Name</th>
                                            <th>Designation</th>
                                            <th>Member's Confirmation</th>
                                        </tr>
                                        <tr ng-repeat="invitee in meeting.invities">
                                            <td>{{ invitee.display_name}}</td>
                                            <td>{{ invitee.designation}}</td>
                                            <td>
                                                <span ng-if="invitee.pivot.vote == null"><i class="fa fa-minus"></i></span>
                                                <span ng-if="invitee.pivot.vote == 1" class="text-success"><i class="fa fa-check"></i> Yes, will Attend</span>
                                                <span ng-if="invitee.pivot.vote == 2" class="text-danger"><i class="fa fa-ban"></i> No, will not Attend</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade in " id="res" >
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Title</th>
                                            <th>Body</th>
                                            <th ng-if="meeting.status != 'Scheduled' && director == 1">Vote</th>
<!--                                            <th>Attachments</th>-->
                                            <th> Director's Comment</th>
                                            <th ng-if="director == 1">Director's Note</th>
                                        </tr>
                                        <tr ng-repeat="blist in meeting.agenda">
                                            <td>{{ blist.title}}</td>
                                            <td ng-bind-html="blist.body | base64decode | unsafe"></td>
                                            <td ng-if="!blist.votes.length && meeting.status != 'Scheduled' && director == 1"><a href="#" class="btn btn-xs btn-success" ng-click="vote($event, blist.id, blist.title, 1)"><i></i> Yes</a> <a href="#" class="btn btn-xs btn-danger" ng-click="vote($event, blist.id, blist.title, 2)"><i></i> No</a> <a href="#" ng-click="vote($event, blist.id, blist.title, 3)" class="btn btn-xs btn-warning"><i></i> Abstained</a></td>
                                            <td ng-if="blist.votes.length && meeting.status != 'Scheduled' && director == 1"> You have voted {{ blist["votes"][0]["pivot"]["vote"] == 1 ? "Yes" : (blist["votes"][0]["pivot"]["vote"] == 2 ? "No" : "Abstained") }}</td>
<!--                                            <td>
                                                <span ng-repeat="att in blist.attachments"><a href="#" ng-click="openlink(att.saved_filename)">{{ att.filename }}</a></span>
                                            </td>-->
                                            <td><a href="#" ng-click="getComments($event, blist.id, blist.title)" class="btn btn-xs btn-info"><i></i>Director's Comment</a></td>
                                            <td ng-if="director == 1"><a href="#" ng-click="getDNotes($event, blist.id, blist.title)" class="btn btn-xs btn-info"><i></i> Director's Note</a></td>

                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade in " id="blist" ng-if="meeting.status == 'Scheduled' && director !=1">
                                <div class="row">
                                    <form name="agenda" enctype="multipart/form-data" id="frmNewAgenda">
                                        <input type="hidden" id="isafinal" value="0" name="isafinal">
                                        <input type="hidden" value="{{meeting.id}}" name="id" id="id" />
                                        <input type="hidden" value="{{ userId}}" name="userId" id="userId" />

                                        <div class="form-group col-md-12">
                                            <label for="inputEmail" class="col-md-3 control-label">Title</label>
                                            <div class="col-md-9">
                                                <input type="text" ng-model="title" class="form-control" name="title" id="title" placeholder="Agenda title" required>
                                            </div>
                                            <span class="text-danger" ng-show="agenda.title.$dirty && agenda.title.$dirty.$error.required">Please Enter a Valid Title.</span>

                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="inputPassword" class="col-md-3 control-label">Agenda Text</label>
                                            <div class="col-md-9">
                                                <textarea class="form-control body" ng-model="body"  name="body" placeholder="Agenda text" required></textarea>
                                            </div>
                                            <span class="text-danger" ng-show="agenda.body.$dirty && agenda.body.$dirty.$error.required">Please Enter a Agenda Text.</span>

                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="inputPassword" class="col-md-3 control-label">Agenda Attachment</label>
                                            <div class="col-md-9">
                                                <input type="file" class="form-control" id="file" multiple name="file[]">            
                                            </div>
                                            <progress class="hide" value="0" max="100"></progress>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <button ng-click="submitAgenda()" name="submit" id="submit" class="btn btn-success btn-xs" ng-disabled="agenda.$invalid"><i></i> Submit</button>

                                        </div>

                                    </form>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Title</th>
                                            <th>Body</th>
                                            <th>Attachments</th>
                                            <th>Comment</th>
                                           

                                        </tr>
                                        <tr ng-repeat="blist in meeting.bucketlist">
                                            <td>{{ blist.title}}</td>
                                            <td ng-bind-html="blist.body | base64decode | unsafe"></td>
                                              <td>
                                                <span ng-repeat="att in blist.attachments"><a href="#" ng-click="openlink(att.saved_filename)">{{ att.filename }}</a></span>
                                            </td>
                                            <td><a href="#" ng-click="getComments($event, blist.id, blist.title)" class="btn btn-xs btn-info"><i></i> Director's Comment</a></td>
                                       

                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <div class="row">
                       
                       
                      <!-- <div class="col-md-12 mt10">
                            <div class="col-md-6 col-sm-6">
                                <div class="text-info col-md-3 col-sm-3">Meeting Date Time</div>
                                <div>{{ meeting.datetime_ofmeeting}}</div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="text-info col-md-3 col-sm-3">Meeting For</div>
                                <div>{{ meeting.group.name}}</div>
                            </div>
                        </div>
                        <div class="col-md-12 mt10 mb10">
                            <div class="col-md-6 col-sm-6">
                                <div class="text-info col-md-3 col-sm-3">Venue</div>
                                <div>{{ meeting.venue.venue_name}}</div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="text-info col-md-3 col-sm-3">Venue Address</div>
                                <div>{{ meeting.venue.address}}</div>
                            </div>
                        </div>-->
                        
                        
                        <div class="col-md-12 mt10 mb10 cbox" ng-show="confirmation[0].pivot.vote == null && meeting.status == 'scheduled'" >
                            Confirm your Attendance <span ><a href="#" ng-click="attend($event, meeting.id, 1)" class="btn btn-xs btn-success" ><i class="fa fa-check"></i> Yes</a> <a href="#" ng-click="attend($event, meeting.id, 2)" class="btn btn-xs btn-danger" ><i class="fa fa-ban"></i> No</a></span>
                        </div>
                        <div class="col-md-12 mt10 mb10 attending" ng-show="confirmation[0].pivot.vote == 1" >
                            <a href="#" class="btn btn-xs btn-success"> Acknowledged the receipt of the notice. Yes, will attend the meeting. </a>   
                        </div>
                        <div class="col-md-12 mt10 mb10 nattending" ng-show="confirmation[0].pivot.vote == 2" >
                            <a href="#" class="btn btn-xs btn-danger"> Acknowledged the receipt of the notice. Not Attending, please grant leave. </a>   
                        </div>
                    </div>
                    
                    
                    
                    
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Comments on "{{ agendaTitle}}"</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row" ng-if='director == 1'>
                                        <div class="col-md-12">
                                            <form name="commentF">
                                                <div class="col-md-12 form-group">
                                                    <input type="hidden" name="aId" value="{{ aId}}" />
                                                    <input type="hidden" name="uId" value="{{ uId}}" />
                                                    <textarea name="comment" ng-model="commentt" required class="form-control" placeholder="Your Comment"></textarea>
                                                </div>
                                                <div class="col-md-12 form-group">
                                                    <button ng-click="comment()" id="submitC" class="btn btn-success btn-xs" ng-disabled="commentF.$invalid"><i></i> Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="panel panel-default" ng-repeat="comm in comments">
                                            <div class="panel-heading panel-danger">
                                                <h3 class="panel-title">{{ comm.display_name}}</h3>
                                            </div>
                                            <div class="panel-body">
                                                {{ comm.pivot.comment}}
                                            </div>
                                            <div class="panel-footer text-info text-right"><i class="fa fa-clock-o"></i> {{ comm.pivot.datetime_commented  }}</div>
                                        </div>

                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Director's Note on "{{ agendaTitle}}"</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form name="noteF">
                                                <div class="col-md-12 form-group">
                                                    <input type="hidden" name="aId" value="{{ aId}}" />
                                                    <input type="hidden" name="uId" value="{{ uId}}" />
                                                    <textarea name="comment" ng-model="commentt" required class="form-control" placeholder="Your Comment"></textarea>
                                                </div>
                                                <div class="col-md-12 form-group">
                                                    <button ng-click="note()" id="submitN" class="btn btn-success btn-xs" ng-disabled="commentF.$invalid"><i></i> Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="panel panel-default" ng-repeat="comm in notes">
                                            <div class="panel-heading panel-danger">
                                                <h3 class="panel-title">{{ comm.display_name}}</h3>
                                            </div>
                                            <div class="panel-body">
                                                {{ comm.pivot.comment}}
                                            </div>
                                            <div class="panel-footer text-info text-right"><i class="fa fa-clock-o"></i> {{ comm.pivot.datetime_commented  }}</div>
                                        </div>

                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <script src="phonegap.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src='js/angular-sanitize.min.js'></script>
        <script src="dist/js/sidebar.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/ng-app.js"></script>      
        <script src="js/myscripts.js"></script>      
    </body>
</html>