<!DOCTYPE html>
<html ng-app="iCorpMM">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <title>iCorpMM</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="dist/style.css" />
        <link rel="stylesheet" href="dist/css/sidebar.css"/>
    </head>

    <body>
        <div class="spinner">
            <div class="ajaxloader"></div>
        </div>
        <div id="wrapper" ng-cloak >
            <div id="page-content-wrapper">
                <div ng-include="'includes/header.html'"></div>
                <div class="container-fluid" ng-controller="loginController">
                    <h1>Login</h1>
                    <div class="row">
                        <form ng-submit="checkLogin()" name="login">
                            <input type="hidden" name="playerId" value="{{ playerId }}" />
                            <div class="form-group col-md-12">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" ng-model="email" class="form-control" required>
                                <span class="text-danger" ng-show="(login.email.$dirty && login.email.$error.required) || login.email.$error.email">Please Enter a Valid Email ID .</span>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" ng-model="password" class="form-control" required>
                                <span ng-show="(login.password.$dirty && login.password.$error.required) || (login.password.$dirty && login.password.$invalid)">Please Enter a Valid Password.</span>

                            </div>
                            <div class="form-group col-md-12">
                                <input type="submit" name="submit" id="submit" ng-model="submit" class="btn btn-success" ng-disabled="login.$invalid" />
                            </div>

                            <span id="loginResult" class="text-success text-center"></span>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="phonegap.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src='js/angular-sanitize.min.js'></script>
        <script src="dist/js/sidebar.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/ng-app.js"></script>      
        <script src="js/myscripts.js"></script>      
    </body>
</html>