<!DOCTYPE html>
<html ng-app="iCorpMM">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <title>iCorpMM</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="dist/style.css" />
        <link rel="stylesheet" href="dist/css/sidebar.css"/>
    </head>

    <body>
        <div class="spinner">
            <div class="ajaxloader"></div>
        </div>
        <div id="wrapper" ng-cloak >
            <div class="col-xs-10 col-sm-6 col-md-4 sidebar sidebar-left sidebar-animate" ng-include="'includes/nav.html'"></div>
            <div id="page-content-wrapper">
                <div ng-include="'includes/header.html'"></div>
                <div class="container-fluid" ng-controller="reportsController">
                    <div class="maintitle"><img src="images/reports.png"> <h4 class="text-inside text-right">Welcome  <span class=" text-success">{{ user}}!</span></h4></div>
                    <h1>Reports</h1>
                    <div class="row mt10">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#desc" data-toggle="tab">My Notes</a></li>
                            <li><a href="#ben" data-toggle="tab">My Attendance</a></li><!--
                            <li><a href="#res" data-toggle="tab">Agendas</a></li>
                            <li><a href="#blist" data-toggle="tab">Minutes</a></li>-->
                        </ul>

                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="desc" >
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tr>

                                            <th>Agenda</th>
                                            <th>Note</th> 
                                            <th>Meeting</th>
                                            <th>Meeting Date</th>
                                        </tr>
                                        <tr ng-repeat="note in reports.notes">

                                            <td>{{ note.title}}</td>
                                            <td>{{ note.pivot.comment}}</td>
                                            <td>{{ note.meeting}}</td>
                                            <td>{{ note.datetime_ofmeeting}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade in " id="ben" >
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Meeting</th>
                                            <th>Date</th>
                                            <th>Attendance</th>
                                        </tr>
                                        <tr ng-repeat="meeting in reports.meetings">
                                            <td>{{ meeting.title}}</td>
                                            <td>{{ meeting.datetime_ofmeeting}}</td>
                                            <td>
                                                <span ng-if="meeting.invities[0].pivot.admin_vote == 1" class="text-success"><i class="fa fa-check"></i> Present</span>
                                                <span ng-if="meeting.invitee[0].pivot.admin_vote == 2" class="text-danger"><i class="fa fa-ban"></i> Absent</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade in " id="res" >
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Title</th>
                                            <th>Body</th>
                                            <th>Attachments</th>
                                            <th>Votes</th>
                                            <th>Director's Comments</th>
                                            <th ng-if="director == 1">Director's Note</th>
                                        </tr>
                                        <tr ng-repeat="blist in meeting.agenda">
                                            <td>{{ blist.title}}</td>
                                            <td ng-bind-html="blist.body | base64decode | unsafe"></td>
                                            <td>
                                                <span ng-repeat="att in blist.attachments"><a href="#" ng-click="openlink(att.saved_filename)">{{ att.filename}}</a></span>
                                            </td>
                                            <td><a href="#" ng-click="getVotes($event, blist.id, blist.title)" class="btn btn-xs btn-info"><i></i> Votes</a></td>

                                            <td><a href="#" ng-click="getComments($event, blist.id, blist.title)" class="btn btn-xs btn-info"><i></i> Director's Comments</a></td>
                                            <td ng-if="director == 1"><a href="#" ng-click="getDNotes($event, blist.id, blist.title)" class="btn btn-xs btn-info"><i></i> Director's Note</a></td>

                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade in " id="blist">


                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tr>
                                            <!--                                            <th>Agenda</th>-->
                                            <th>Title</th>
                                            <th>Body</th>
                                            <th>Date</th>


                                        </tr>
                                        <tr ng-repeat="blist in meeting.minutes">
                                            <!--                                            <td>{{ blist.agenda.title}}</td>-->
                                            <td>{{ blist.title}}</td>
                                            <td ng-bind-html="blist.body | base64decode | unsafe"></td>
                                            <td>{{ blist.created_datetime}}</td>

                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>

        <script src="phonegap.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src='js/angular-sanitize.min.js'></script>
        <script src="dist/js/sidebar.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/ng-app.js"></script>      
        <script src="js/myscripts.js"></script>      
    </body>
</html>