<!DOCTYPE html>
<html ng-app="iCorpMM">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <title>iCorpMM</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="dist/style.css" />
        <link rel="stylesheet" href="dist/css/sidebar.css"/>
    </head>

    <body>
        <div class="spinner">
            <div class="ajaxloader"></div>
        </div>
        <div id="wrapper" ng-cloak >
            <div class="col-xs-10 col-sm-6 col-md-4 sidebar sidebar-left sidebar-animate" ng-include="'includes/nav.html'"></div>
            <div id="page-content-wrapper">
                <div ng-include="'includes/header.html'"></div>
                <div class="container-fluid" ng-controller="joinMeetingController">
                    <div class="maintitle"><a href="archive.html"><img src="images/archive-b.png"></a> <h4 class="text-inside text-right">Welcome  <span class=" text-success">{{ user}}!</span></h4></div>
                    <h1>{{ meeting.title}}</h1>
                    <p class="">{{meeting.purpose}}</p>
                    <div class="row">
                        <div class="col-md-12 mt10">
                            <div class="col-md-6 col-sm-6">
                                <div class="text-info col-md-3 col-sm-3">Meeting Date Time</div>
                                <div>{{ meeting.datetime_ofmeeting}}</div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="text-info col-md-3 col-sm-3">Meeting For</div>
                                <div>{{ meeting.group.name}}</div>
                            </div>
                        </div>
                        <div class="col-md-12 mt10 mb10">
                            <div class="col-md-6 col-sm-6">
                                <div class="text-info col-md-3 col-sm-3">Venue</div>
                                <div>{{ meeting.venue.venue_name}}</div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="text-info col-md-3 col-sm-3">Venue Address</div>
                                <div>{{ meeting.venue.address}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt10">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#desc" data-toggle="tab">Notice</a></li>
                            <li><a href="#ben" data-toggle="tab">Members & Invitees</a></li>
                            <li><a href="#res" data-toggle="tab">Agenda</a></li>
                            <li><a href="#blist" data-toggle="tab">Minutes</a></li>
                        </ul>

                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="desc" ng-bind-html="meeting.notice.body | unsafe">

                            </div>
                            <div class="tab-pane fade in " id="ben" >
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Name</th>
                                            <th>Designation</th>
                                            <th>Admin's Attendance</th>
                                        </tr>
                                        <tr ng-repeat="invitee in meeting.invities">
                                            <td>{{ invitee.display_name}}</td>
                                            <td>{{ invitee.designation}}</td>
                                            <td>
                                                <span ng-if="invitee.pivot.admin_vote == 1" class="text-success"><i class="fa fa-check"></i> Present</span>
                                                <span ng-if="invitee.pivot.admin_vote == 2" class="text-danger"><i class="fa fa-ban"></i> Absent</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade in " id="res" >
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Title</th>
                                            <th>Body</th>
                                            <th>Attachments</th>
                                            <th>Votes</th>
                                            <th>Director's Comments</th>
                                            <th ng-if="director == 1">Director's Note</th>
                                        </tr>
                                        <tr ng-repeat="blist in meeting.agenda">
                                            <td>{{ blist.title}}</td>
                                            <td ng-bind-html="blist.body | base64decode | unsafe"></td>
                                            <td>
                                                <span ng-repeat="att in blist.attachments"><a href="#" ng-click="openlink(att.saved_filename)">{{ att.filename}}</a><br /></span>
                                            </td>
                                            <td><a href="#" ng-click="getVotes($event, blist.id, blist.title)" class="btn btn-xs btn-info"><i></i> Votes</a></td>

                                            <td><a href="#" ng-click="getComments($event, blist.id, blist.title)" class="btn btn-xs btn-info"><i></i> Director's Comments</a></td>
                                            <td ng-if="director == 1"><a href="#" ng-click="getDNotes($event, blist.id, blist.title)" class="btn btn-xs btn-info"><i></i> Director's Note</a></td>

                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade in " id="blist">


                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Agenda</th>
                                            <th>Title</th>
                                            <th>Body</th>
                                            <th>Date</th>


                                        </tr>
                                        <tr ng-repeat="blist in meeting.minutes">
                                            <td>{{ blist.agenda.title}}</td>
                                            <td>{{ blist.title}}</td>
                                            <td ng-bind-html="blist.body | base64decode | unsafe"></td>
                                            <td>{{ blist.created_datetime}}</td>

                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Comments on "{{ agendaTitle}}"</h4>
                                </div>
                                <div class="modal-body">

                                    <div class="row">
                                        <div class="panel panel-default" ng-repeat="comm in comments">
                                            <div class="panel-heading panel-danger">
                                                <h3 class="panel-title">{{ comm.display_name}}</h3>
                                            </div>
                                            <div class="panel-body">
                                                {{ comm.pivot.comment}}
                                            </div>
                                            <div class="panel-footer text-info text-right"><i class="fa fa-clock-o"></i> {{ comm.pivot.datetime_commented}}</div>
                                        </div>

                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Director's Note on "{{ agendaTitle}}"</h4>
                                </div>
                                <div class="modal-body">


                                    <div class="row">
                                        <div class="panel panel-default" ng-repeat="comm in notes">
                                            <div class="panel-heading panel-danger">
                                                <h3 class="panel-title">{{ comm.display_name}}</h3>
                                            </div>
                                            <div class="panel-body">
                                                {{ comm.pivot.comment}}
                                            </div>
                                            <div class="panel-footer text-info text-right"><i class="fa fa-clock-o"></i> {{ comm.pivot.datetime_commented}}</div>
                                        </div>

                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal fade" id="myModal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Votes on "{{ agendaTitle}}"</h4>
                                </div>
                                <div class="modal-body">

                                    <div class="row">
                                        <div class="panel panel-default" ng-repeat="v in votes">
                                            <div class="panel-heading panel-danger">
                                                <h3 class="panel-title">{{ v.display_name}} - {{ v["pivot"]["vote"] == 1 ? "Yes" : (v["pivot"]["vote"] == 2 ? "No" : "Abstained") }}</h3>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <script src="phonegap.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src='js/angular-sanitize.min.js'></script>
        <script src="dist/js/sidebar.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/ng-app.js"></script>      
        <script src="js/myscripts.js"></script>      
    </body>
</html>